<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
    <h2 class="title">create new blog post</h2>
    <hr>

    <form class="new-blog-form">
        <div>
            <label for="blog-title">title:</label>
            <input class="input" type="text" id="blog-title" name="blog-title" placeholder="insert blog title here" />
        </div>
        <div>
            <label for="blog-content">content:</label>
            <input class="textarea is-large" id="blog-description" name="blog-description"
                placeholder="insert blog content here" />
        </div>
        <button type="submit" class="button is-primary is-pulled-right">create post</button>
    </form>
</section>

<script src="/js/createBlog.js"></script>