<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <label for="blog-title" class="form-label">Title</label>
        <input name="blog-title" type="text" value="{{blog.title}}" class="form-input" />
        <label class="form-label" for="description">description</label>
        <input name="description" type="text" value="{{blog.description}}" class="form-input" />
        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="delete-post-btn btn">Delete Post</button>
    </form>
</div>


<script src="/public/js/edit-blog.js"></script>
<script src="/public/js/delete-blog.js"></script>