<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="blog-title" class="form-label">Title</label>
        <input type="text" id="blog-title" name="blog-title" class="form-input" />


        <label class="form-label" for="description">description</label>
        <input id="description" name="description" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/public/js/add-blog.js"></script>